/*********************************************/
/************** animation-box ****************/
/*********************************************/
/* 
 * I adapted this code from https://chrometattooparis.com/ so that 
 * it cold work well with my web portfolio design.
 */
#animation-box {
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
 }
#animation-box{
	-webkit-box-sizing: border-box;
		box-sizing: border-box; }
      
      *,
      *::before,
      *::after {
	-webkit-box-sizing: inherit;
		box-sizing: inherit; }
      
#animation-box {
	position: relative;
	height:400px; 
	background-image: -o-radial-gradient(circle, #161616, #121212, #0d0d0d, #070707, #000000);
	background-image: radial-gradient(circle, #161616, #121212, #0d0d0d, #070707, #000000);
	color: #f6edd7;
	font-family: "IBM Plex Mono"; }
	
	@-webkit-keyframes tv-scroll {
		0% {
		  background-position: 0px 10px;
		  opacity: 0.6; }
		100% {
		  background-position: 0 0px;
		  opacity: 1; } }
	      
	      @keyframes tv-scroll {
		0% {
		  background-position: 0px 10px;
		  opacity: 0.6; }
		100% {
		  background-position: 0 0px;
		  opacity: 1; } }
      
    #animation-box {
	/* position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0; */
	cursor: none; 
}
    #animation-box:after {
	  content: '';
	  display: block;
	  height: 400px;
	  position: absolute;
	  background: url("images/trame.png");
	   top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0; 
	  pointer-events: none;
	  -webkit-animation: tv-scroll 0.5s steps(5) infinite;
		  animation: tv-scroll 0.5s steps(5) infinite;
	  z-index: 9999; 
    }
    img {
		width: 100%;
        height:100%;
        opacity:35%;
    }