/* ==================================================================== */
/*                              about                                   */
/* ==================================================================== */

.name {
    font-size: 2.5em;
    
}

.opening-intro {
    font-size:1.75em;
    margin-top: 5px;
    opacity: 65%;
}

.discription, .hello {
    opacity: 65%;
    font-size: 1.25em;
}

#about ul {
    padding-left: 18px;
    margin-bottom: 0;
}