/* ==================================================================== */
/*                               grid                                   */
/* ==================================================================== */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "animation-box"
        "main"
        "footer";
}

header {
    grid-area: header;
}

#animation-box {
    grid-area: animation-box;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#portfolio {
    display: grid;
    gap: 15px;
    
}